.sign-in {
  max-width: 390px;
  display: flex;
  flex-direction: column;

  &__title {
    margin: 10px 0;
  }

  &__form-btn-container {
    display: flex;
    justify-content: space-between;
  }
}
