.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  &__logo-link {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  &__options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__nav-link {
    padding: 10px 15px;
    transition: all .4s ease-out;
  }

  &__sign-out-btn {
    background: none;
    border: none;
    color: black;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
  }
}
